<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>myjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>로깅 여부</description>
  	<param-name>logEnabled</param-name>
  	<param-value>true</param-value>
  </context-param>

  <context-param>
    <description>디버깅 레벨</description>
    <param-name>debugLevel</param-name>
    <param-value>5</param-value>
  </context-param>
  
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
  <servlet>
    <servlet-name>myservlet</servlet-name>
  	<servlet-class>chap12.MyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>myservlet</servlet-name>
    <url-pattern>/myservlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>servletEx1</servlet-name>
  	<servlet-class>chap17.ServletEx1</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>servletEx1</servlet-name>
  	<url-pattern>/servletex1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>now</servlet-name>
  	<servlet-class>chap17.NowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>now</servlet-name>
  	<url-pattern>/now</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>servlet1</servlet-name>
  	<servlet-class>chap17.path.UrlPathEx1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servlet2</servlet-name>
  	<servlet-class>chap17.path.UrlPathEx2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>servlet3</servlet-name>
  	<servlet-class>chap17.path.UrlPathEx3</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>servlet2</servlet-name>
  	<url-pattern>/foo/bar</url-pattern>
  	<url-pattern>/poo/var</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>servlet3</servlet-name>
  	<url-pattern>/foo/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>initmethod1</servlet-name>
  	<servlet-class>chap17.InitMethodEx1</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>initmethod2</servlet-name>
  	<servlet-class>chap17.InitMethodEx2</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  <servlet>
  	<servlet-name>initparam servlet</servlet-name>
  	<servlet-class>chap17.InitParamServletEx1</servlet-class>
  	<init-param>
  		<param-name>name1</param-name>
  		<param-value>value1</param-value>
  	</init-param>
  	<init-param>
  		<param-name>name4</param-name>
  		<param-value>value4</param-value>
  	</init-param>
  	<init-param>
  		<param-name>jdbcUrl1</param-name>
  		<param-value>
  		jdbc:mysql://localhost:3306/chap14?characterEncoding=utf8&amp;name=p
  		</param-value>
  	</init-param>
  	<init-param>
  		<param-name>jdbcUrl2</param-name>
  		<param-value>
  		jdbc:mysql://localhost:3306/chap14?characterEncoding=utf8&amp;name=p
  		</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>initparam servlet</servlet-name>
  	<url-pattern>/test/init</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>filterex1</filter-name>
  	<filter-class>chap19.FilterEx1</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filterex2</filter-name>
  	<servlet-name>ServletEx1</servlet-name>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>filterex1</filter-name>
  	<servlet-name>ServletEx1</servlet-name>
  </filter-mapping>
  
  <filter>
  	<filter-name>filterex2</filter-name>
  	<filter-class>chap19.FilterEx2</filter-class>
  </filter>
  
  
  <servlet>
  	<servlet-name>ServletEx1</servlet-name>
  	<servlet-class>chap19.ServletEx1</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletEx1</servlet-name>
  	<url-pattern>/chap19/filterex1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>vipservlet1</servlet-name>
  	<servlet-class>chap19.sample.VIPFilterEx1Servlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>vipservlet1</servlet-name>
	<url-pattern>/chap19/vip/*</url-pattern>  
  </servlet-mapping>
  
  <filter>
  	<filter-name>checkLogIn</filter-name>
  	<filter-class>chap19.sample.LogInFilterEx1</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>checkLogIn</filter-name>
  	<servlet-name>vipservlet1</servlet-name>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>chap19/servlet3</servlet-name>
  	<servlet-class>chap19.ServletEx3</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>chap19/servlet3</servlet-name>
  	<url-pattern>/chap19/servletex3</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>chap19/filter3</filter-name>
  	<filter-class>chap19.FilterEx3</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>chap19/filter3</filter-name>
  	<servlet-name>chap19/servlet3</servlet-name>
  </filter-mapping>
  
<!--   <filter>
  	<filter-name>NullParameter</filter-name>
  	<filter-class>chap19.NullParameterFilter</filter-class>
  	
  	<init-param>
  		<param-name>parameterNames</param-name>
  		<param-value>id,name</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>NullParameter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping> -->
  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>chap19.CharacterEncodingFilter</filter-class>
  	
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter> 
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>   

  <servlet>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<servlet-class>chap18.ControllerUsingURI</servlet-class>
  	<init-param>
  		<param-name>configFile</param-name>
  		<param-value>/WEB-INF/commandHandlerURI.properties</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerUsingURI</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
</web-app>























